
.formed-search:before { content: '\e816'; } /* '' */
.formed-ok:before { content: '\e812'; } /* '' */
.formed-plus:before { content: '\e806'; } /* '' */
.formed-minus:before { content: '\e80b'; } /* '' */
.formed-help-circled:before { content: '\e817'; } /* '' */
.formed-bookmark-empty:before { content: '\e809'; } /* '' */
.formed-download:before { content: '\e807'; } /* '' */
.formed-upload:before { content: '\e804'; } /* '' */
.formed-trash:before { content: '\e808'; } /* '' */
.formed-folder-open:before { content: '\e80d'; } /* '' */
.formed-cog-alt:before { content: '\e805'; } /* '' */
.formed-wrench:before { content: '\e80e'; } /* '' */
.formed-calendar:before { content: '\e811'; } /* '' */
.formed-clock:before { content: '\e813'; } /* '' */
.formed-left-open:before { content: '\e80c'; } /* '' */
.formed-mail:before { content: '\e801'; } /* '' */
.formed-angle-left:before { content: '\e81a'; } /* '' */
.formed-angle-right:before { content: '\e819'; } /* '' */
.formed-angle-up:before { content: '\e814'; } /* '' */
.formed-angle-down:before { content: '\e815'; } /* '' */
.formed-up-big:before { content: '\e80a'; } /* '' */
.formed-list:before { content: '\e803'; } /* '' */
.formed-puzzle:before { content: '\e810'; } /* '' */
.formed-chart-bar:before { content: '\e800'; } /* '' */
.formed-right:before { content: '\e81d'; } /* '' */
.formed-down-bold:before { content: '\e81b'; } /* '' */
.formed-up-bold:before { content: '\e81c'; } /* '' */
.formed-edit:before { content: '\e802'; } /* '' */
.formed-font:before { content: '\e80f'; } /* '' */
.formed-right-open:before { content: '\e818'; } /* '' */